.idea/
.vs/

packages/
bin/
obj/

*.user

# Should never ever need to commit this one.
*.PublicKey

# Ignore files prefixed with #hashtag
\#*.*

# We do not want to track the incidental build pipeline side effects.
LICENSE.txt
CONTRIBUTORS.txt
